* {
  padding: 0;
  margin: 0;
}

html {
	/* Prevent font scaling in landscape while allowing user zoom */
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: helvetica;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1.5;
	overflow-x: hidden;
	background: #1d1f23;
}

.body__link {
	color: #fd8640;
}

header {
	height: 120px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #1d1f23;
}

ul {
	padding: 0;
	text-decoration: none;
	margin: 0;
	line-height: 2;
}

p {
	line-height: 2;
}

p a {
	line-height: 2;
}

a, button {
	cursor: pointer;
}

button, input, textarea {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

.header--landing {
	background: #1d1f23;
	box-sizing: border-box;
	padding: 0 65px;
}

.header--site {
	background: #1d1f23;
	box-sizing: border-box;
	padding: 0 115px;
}

.header-logo {
	width: 95px;
	opacity: 0.7;
	z-index: 100;
}

.header-logo:hover {
	opacity: 1;
}

.header__links {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.header-nav {
	/* font-family: 'Amatic SC', cursive; */
	font-size: 12px;
	display: flex;
	flex-direction: row;
	list-style: none;
	z-index: 100;
}

.header-nav a {
	padding: 0 20px;
	color: #fff;
	opacity: 1;
	text-decoration: none;
	cursor: pointer;
}

.header-nav a:hover {
	opacity: 0.5;
}

.header__button {
	font-size: 12px;
    color: #3d8bec;
    padding: 10px 30px;
    border: 1px solid #26578e;
    margin-left: 15px;
    background: transparent;
}

.header__button:hover {
	color: #1d1f23;
	border: 1px solid #1d1f23;
}

.contact, footer {
	padding: 50px;
}

.hero {
	background: #1d1f23;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 500px;
	padding: 25px 150px 75px;
}

.hero__left {
	display: flex;
	flex-direction: column;
	align-items: start;
	max-width: 500px;
	z-index: 100;
}

.hero__image {
	width: 360px;
    top: 140px;
    right: 150px;
    position: absolute;
	z-index: 50;
}

.hero__bg-img-1 {
	height: 375px;
	opacity: 0.1;
	position: absolute;
    top: -180px;
    right: 225px;
	z-index: 5;
}

.hero__bg-img-2 {
	height: 350px;
	opacity: 0.1;
	position: absolute;
    top: 275px;
    left: -100px;
	z-index: 5;
}

.hero__bg-img-3 {
	height: 250px;
	opacity: 0.1;
	position: absolute;
    top: 580px;
    right: 420px;
	z-index: 5;
}

.hero__logo {
	display: none;
	width: 140px;
	margin-bottom: 50px;
}

.hero__title {
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 55px;
	margin: 0;
	margin-top: 0px;
}

.hero__pitch {
	color: #999;
    max-width: 850px;
	font-size: 16px;
	font-weight: 300;
    line-height: 2;
    margin: 25px 0 45px;
}

.hero__input-container a {
	text-decoration: none;
}

.hero__options {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

	.options__button-container {
		margin: 0px 0;
	}

	.options__button-container > a {
		text-decoration: none;
	}

.hero__button {
	font-size: 13px;
    color: #fff;
    padding: 16px 48px;
    border: none;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
    background: #3d8bec;
    margin: 5px 0;
}

.hero__button:hover {
    background: #357ad0;
}

.hero__button--alt {
	display: none;
	font-size: 13px;
    color: #fff;
    padding: 15px 46px;
    border-radius: 5px;
    border: 1px solid #f25268;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
    margin: 5px 0;
    text-decoration: none;
    background: #f25268;
}

.hero__button--alt:hover {
    background: #de4c60;
}

.hero__button--alt-2 {
	font-size: 13px;
    color: #fff;
    padding: 15px 46px;
    border: 1px solid #fff;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
    margin: 5px;
    text-decoration: none;
    background: transparent;
}

.hero__button--alt-2:hover {
    background: #de4c60;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__container {
	max-width: 600px;
	margin: 80px 15px 100px;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
    z-index: 60;
	padding: 100px 20px 100px;
	background: #fff;
}

.about__title {
	margin: 0;
    text-align: center;
    color: #1d1f23;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.about__tic-tac {
	margin-top: 20px;
	height: 6px;
	width: 46px;
	border-radius: 5px;
	background: #3d8bec;
}

.about__container {
	display: flex;
	margin: 50px 0;
}

.about__body {
	color: #1d1f23;
	margin: 20px 0 40px; 
	text-align: center;
	max-width: 600px;
}

.about__link {
	color: #1d1f23;
	text-decoration: underline;
}

.about__link:hover {
	text-decoration: none;
}

.about__button {
	font-size: 12px;
    color: #fff;
    padding: 14px 28px;
    border: none;
    background: #3d8bec;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
}

.about__button:hover {
    box-shadow: none;
}

.partners {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 20px;
	background: #e8eef5;
    position: relative;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
}

.partners__title {
    margin: 0;
    text-align: center;
    color: #1d1f23;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.partners__body {
	color: #1d1f23;
	margin: 20px 0 40px; 
	text-align: center;
	max-width: 600px;
}

.partners__logo-container {
	display: flex;
	width: 800px;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.partners__logo-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.partners__logo {
	padding: 10px;
	height: 60px;
	opacity: 0.8;
}

.partners__logo:hover {
	opacity: 1;
	cursor: pointer;
}

.partners__logo--light {
	padding: 10px;
	height: 60px;
	opacity: 0.55;
}

.partners__logo--light:hover {
	opacity: 0.75;
	cursor: pointer;
}

.partners__type {
	display: inline-block;
	color: #999;
	padding: 20px 10px;
}

.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #e8eef5;
	padding: 50px;
}

.services__icon {
	width: 110px;
	margin: 20px 0 25px;
}

.services__title {
	margin: 0;
    text-align: center;
    color: #1d1f23;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.services__sub-title {
	color: #1d1f23;
	margin: 25px 0 50px; 
	padding: 0 20px;
	text-align: center;
	max-width: 600px;
}

.services__grid {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 50px;
	background: #fff;
	box-shadow: 0px 10px 20px rgb(216, 224, 232);;
}

.service__container {
	position: relative;
	background: #fff;
	padding: 25px 50px;
	box-sizing: border-box;
}

.service__number {
	font-size: 150px;
	color: #3d8bec;
	opacity: 0.15;
	font-weight: 900;
	position: absolute;
    left: 25px;
    top: 0;
    z-index: 1;
}

.service__catagory {
	font-size: 14px;
    font-weight: 400;
    color: #3d8bec;
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 75px;
}

.service__title {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    color: #1d1f23;
	position: relative;
	margin: 10px 0;
	z-index: 2;
	width: 400px;
}

.service__sub-title {
	font-size: 15px;
    font-weight: 700;
	margin: 30px 0 10px;
}

.service__body {
	color: #1d1f23;
	width: 400px;
}

.service__list {
	margin: 10px 0 10px 16px;

}

.service__link {
	color: #3d8bec;
	font-size: 15px;
	margin-top: 20px;
	display: inline-block;
}

.pricing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 120px 0;
	background: #fff;
}

.pricing__title {
	margin: 0;
    text-align: center;
    color: #fd8640;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.pricing__subtitle {
	color: #777;
	margin: 20px 20px 0 20px;
	text-align: center;
	max-width: 700px;
}

.pricing__section {
	display: flex;
	flex-wrap: wrap;
}

.pricing__button {
	font-size: 12px;
    color: #fd8640;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #fd8640;
    margin-top: 40px;
    background: transparent;
}

.pricing__button:hover {
    border: 1px solid #de7436;
    color: #de7436;
}

.contact {
	background: #fff;
	padding: 100px 20px 80px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
	margin: 0;
    text-align: center;
    color: #1d1f23;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.contact__subtitle {
	margin: 15px 0 35px;
	color: #1d1f23;
	max-width: 700px;
	text-align: center;
}

.contact__form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 900px;
}

.contact__name {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 15px;
	padding: 12px;
	background: #e8eef5;
	border: solid 1px #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contact__email {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 15px;
	padding: 12px;
	background: #e8eef5;
	border: solid 1px #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contact__message {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 15px;
	padding: 12px;
	background: #e8eef5;
	border: solid 1px #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contact__send-btn {
    font-size: 14px;
    color: #fff;
    padding: 12px 40px;
    border-radius: 5px;
    border: none;
    background: #f25268;
    margin-bottom: 30px;
}

.contact__send-btn:hover {
    background: #de4c60;
}

.footer__transition {
	height: 60px;
	background: linear-gradient(to left bottom, #e9f1f7 49%, #374785 50%);
}

.footer__cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #eee;
	padding: 60px 0 70px;
}

.footer__cta {
	font-size: 18px;
	color: #666;
    margin-bottom: 20px;
}

.footer__input-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.footer__input {
	font-size: 14px;
	font-weight: lighter;
    padding: 12px 12px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 220px;
}

.footer__button {
	font-size: 14px;
	font-weight: lighter;
    color: #fff;
    padding: 12px 32px;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #9C25C1;
}

.footer-logo {
	width: 100px;
	margin: 10px 0;
}

.footer__social-icon {
    padding: 0 5px;
    margin: 0 5px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 25px;
	list-style: none;
}

.footer-nav a {
	padding: 0 8px;
	margin: 0 5px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
}

.footer-nav a:hover {
	text-decoration: underline;
}

.footer-nav__slash {
	color: #fff;
	opacity: 0.5;
}

.footer__social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px 0 0;
}

.footer__icon {
	height: 30px;
	margin: 10px 11px;
	opacity: 0.8;
}

.footer__icon:hover {
	opacity: 1;
}

.footer-copyright {
	font-size: 14px;
	padding-top: 20px;
	color: #fff;
	opacity: 0.5;
	text-align: center;
}

.footer-made-with {
	font-size: 12px;
	padding-top: 30px;
	color: #fff;
	text-align: center;
}

.footer-heart-icon {
	height: 10px;
}

/* ============================================================================================== */

.flex-container, .flex-container--centered {
	display: flex;
	justify-content: center;
}

.flex-container--centered {
	align-items: center;
}

.flex-container--columns {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tri-container {
	margin-top: 25px;
}

.tri-section {
	max-width: 300px;
	margin: 10px 20px;
	text-align: center;
}

.bi-section {
	margin: 10px 35px;
}

.uni-section {
	max-width: 900px;
}

.section-title, .section-title--center {
	font-family: 'Amatic SC', cursive;
    font-size: 56px;
    margin: 15px 0;
}

.section-title--center {
	text-align: center;
}

.section-title--sm {
	font-size: 34px;
	margin-top: 30px;
}


/* ========================================================================== Thank you page */


.thank-you {
	background: #fff;
	background-position: center center;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
}

.thank-you__icon {
	height: 60px;
}

.thank-you__title {
	color: #1d1f23;
	text-align: center;
	font-size: 40px;
    margin: 40px 0 10px 0;
}

.thank-you__sub-title {
	color: #1d1f23;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
    max-width: 700px;
    line-height: 2;
    margin: 10px 0 50px 0;
}

.thank-you__home-btn {
	align-self: center;
	font-size: 14px;
    color: #fff;
    padding: 12px 32px;
    border-radius: 5px;
    border: none;
    background: #3d8bec;
    margin-bottom: 30px;
}

.thank-you__home-btn:hover {
    background: #357ad0;
}


/* ========================================================================== Media Queries */


@media (max-width: 1275px) {

	.header--landing, .header--site {
		padding: 0 50px;
	}
	
}


@media (max-width: 925px) {


	.hero__pitch {
	    padding: 0 20px;
	}

	.hero__left {
		margin: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}	

	.hero__transition {
		display: none;
	}

}


@media (max-width: 900px) {

	.hero__title, .thank-you__title {
		font-size: 30px;
	}

	.hero__pitch {
		font-size: 16px;
	}

	.hero__image {
		width: 700px;
		top: 165px;
	}

	.about {
		padding: 180px 20px 150px;
	}

	.thank-you__sub-title  {
		font-size: 14px;
	}

	.thank-you__sub-title  {
		opacity: 0.7;
	}

	.why__tri-container {
		flex-direction: column;
	}

	.tri-section {
		max-width: 500px;
	}
}

@media (max-width: 700px) {

	.header--landing {
		display: none;
	}

	.header--site {
		display: none;
	}

	.hero__left {
		margin-bottom: 50px;
	}

	.hero__logo {
		display: block;
		margin-top: 50px;
	}

	.hero__title {
		margin-top: 20px;
	}

	.hero__button--alt {
		display: flex;
		width: 190px;
	}

	.hero__button {
		padding: 12px 52px;
		width: 190px;
	}

	.hero__image {
		width: 550px;
		top: 125px;
	}
}

@media (max-width: 694px) {

	.contact__form-container {
		width: 100%;
	}

	.contact__name, .contact__email, .contact__message {
		width: 90%;
	}

	.contact__send-btn {
		align-self: center;
	}
}

@media (max-width: 550px) {

	.hero__left {
		margin-bottom: 75px;
	}

	.hero__image {
		width: 450px;
		top: 105px;
	}

	.contact, footer {
		padding: 50px 25px;
	}

	.services {
		padding: 50px 0;
	}

	.services__container {
		padding: 25px 0;
	}
	
}

@media (max-width: 500px) {

	body {
		font-size: 14px;
	}

	.hero__title {
		font-size: 24px;
	}

	.hero__sub-title {
		font-size: 18px;
	}

	.hero__pitch {
		font-size: 14px;
	}


	.about__icons {
		width: 320px;
	}

	.team__member {
		text-align: center;
		flex-direction: column;
	}

	.team__info {
		padding: 0 20px;
	}

	.team__photo {
		margin-bottom: 10px;
	}
}

@media (max-width: 475px) {

	.hero {
		min-height: 500px;
	}

	.hero__logo {
		margin-bottom: 35px;
	}

	.hero__sub-title {
	    margin-bottom: 35px;
	}

}

@media (max-width: 450px) {

	.hero__left {
		margin-bottom: 90px;
	}

	.contact, footer {
		padding: 50px 20px;
	}

	.hero__input-container {
		flex-direction: column;
	}

	.hero__input {
		padding: 12px 32px;
	    border-radius: 5px;
	    width: 300px;
	    box-sizing: border-box;
	    text-align: center;
	}

	.hero__image {
		width: 400px;
		top: 100px;
	}

	.how__box {
		padding: 25px 20px;
	}

}


@media (max-width: 400px) {

	.hero__image {
		width: 350px;
		top: 90px;
	}

	.about__icons {
		width: 280px;
	}

	.about__icon-1 {
		display: none;
	}

	.why__title, .how__title, .pricing__title, .contact__title {
		font-size: 20px;
	}

}


